@using Blinds.Web.Areas.Public.Models

@model ProductsModel

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Public/Scripts/Products/ProductsViewModel.js")"></script>
}

<div class="well text-center">
    <h3>@Model.Name</h3>
    <p>@Model.Info</p>
    <strong class="pull-left">@Model.Price</strong>
    <div>
        @if (Model.Content != null)
        {
            <img src="data:image/jpeg; base64, @Convert.ToBase64String(Model.Content, Base64FormattingOptions.None)" alt="Image" />
        }
    </div>
</div>

<div id="gallery">
    @foreach (var picture in Model.Pictures)
    {
        <img src="data:image/jpeg; base64, @Convert.ToBase64String(picture.Content, Base64FormattingOptions.None)" alt="Image" width="120" class="galleryItem"/>
    }
</div>

<div id="previewImage" class="modal modal-pdf-viewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-header-save">@Model.Name</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" />
            </div>
        </div>
    </div>
</div>
