@using Blinds.Web.Areas.Administration.Models;
@using Blinds.Common
@using Kendo.Mvc.UI

@model OrderModel

@{
    const string Controller = "Order";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Administration/Scripts/KendoGridHelpers.js")"></script>
}

@Html.Partial("_AdminLinksPartial")

<h2>@GlobalConstants.OrdersName</h2>

@Html.AntiForgeryToken()

@(Html.Kendo().Grid<OrderModel>()
    .Name("grid-rails")
    .Columns(columns =>
    {
        columns.Bound(model => model.UserName);
        columns.Bound(model => model.Number);
        columns.Bound(model => model.OrderDate);
        columns.Bound(model => model.ExpeditionDate);
        columns.Bound(model => model.TotalPrice);
        columns.Bound(model => model.BlindsCount);
        columns.Command(command =>
        {
            command.Destroy()
                .Text(GlobalConstants.Delete);
        }).Width(150);
    })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(h => h.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Read(r => r.Action("Read", Controller).Data("sendAntiForgery"))
            .Destroy(del => del.Action("Destroy", Controller).Data("sendAntiForgery"))
            .Events(events => events.Sync("sync_handler").Error("onError"));
    }
    )
    .Sortable()
    .Pageable(page => page.Refresh(true))
    .Filterable()
    .Groupable(g => g.Messages(x => x.Empty(GlobalConstants.GroupMessage)))
    .Resizable(resize => resize.Columns(true))
    .Selectable()
)

@(Html.Kendo().Notification()
    .Name("errorNotification")
)