@using Blinds.Web.Areas.Administration.Models
@using Kendo.Mvc.UI

@model ComponentsModel

<div class="kendo-form">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <fieldset>
                @Html.EditorFor(m => m.Name)
                @Html.EditorFor(m => m.BlindTypeId, new { ListItems = ViewBag.BlindTypes })
                @Html.EditorFor(m => m.Quantity)
                @Html.EditorFor(m => m.Price)
                @Html.EditorFor(m => m.DefaultAmount)
                @Html.EditorFor(m => m.WidthBased)
                @Html.EditorFor(m => m.HeigthBased)
            </fieldset>
        </div>
    }
</div>




