@model Blinds.Web.Areas.Administration.Models.PicturesModel
@using Kendo.Mvc.UI

<div class="kendo-form">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <fieldset>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.HasImage)

                @Html.EditorFor(m => m.Title)
                @Html.EditorFor(m => m.BlindTypeId, new { ListItems = ViewBag.BlindTypes })
                @Html.EditorFor(m => m.File, "PictureUploadTemplate")
            </fieldset>
        </div>
    }
</div>
