@model Blinds.Web.Areas.Public.Models.OrdersModel
@using Blinds.Common


@{
    ViewBag.Title = "Details";
}

<div class="well">
    <h2>@GlobalConstants.OrdersDetailsTitle @Model.Number.Split('_')[0]</h2>
    <small>@GlobalConstants.OrdersDetailsDate: <i>@Model.OrderDate</i></small>
    <table class="table table-hover table-bordered">
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.OrdersDetailsOwner)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.User.UserName)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.BlindTypeDisplay)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.BlindType.Name)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.ColorDisplay)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.ColorName)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
        </tr>
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.OrdersDetailsInstalation)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.InstalationName)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
        </tr>
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.OrdersDetailsExpeditionDate)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.ExpeditionDate)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
        </tr>
        <tr>
            <td class="col-md-3">@Html.LabelFor(m => m, GlobalConstants.PriceDisplay)</td>
            <td class="col-md-7">
                @Html.DisplayFor(m => m.Price)
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
        </tr>
    </table>
    <button id="showBlinds">@GlobalConstants.OrdersDetailsShowBlindsButton</button>
    <div id="blindsTable" style="display:none">
        @Html.DisplayFor(x => x.Blinds, "BlindDisplayTemplate")
    </div>
    
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#showBlinds').click(function () {
            var container = $('#blindsTable');
            var button = $('#showBlinds');
            $('#blindsTable').slideToggle(function () {
                $(this).is(':visible') ? button.text('@GlobalConstants.OrdersDetailsHideBlindsButton') : button.text('@GlobalConstants.OrdersDetailsShowBlindsButton');
            });
        });
    });
</script>