@using Blinds.Web.Areas.Public.Models

@model OrdersModel

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Public/Scripts/Orders/OrdersViewModel.js")"></script>
}

@Html.Hidden("newRowUrl", @Url.Action("NewSizeRow", "Orders"))
@Html.Hidden("getRailColors", @Url.Action("GetRailColors", "Orders"))
@Html.Hidden("getFabricAndLamelColors", @Url.Action("GetFabricAndLamelColors", "Orders"))
@Html.Hidden("getFabricAndLamelMaterials", @Url.Action("GetFabricAndLamelMaterials", "Orders"))

<form id="orderForm" data-save-url="@Url.Action("Save", "Orders")">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Поръчка</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.Number, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BlindTypeId, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.BlindTypeId, Model.BlindTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RailColor, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.RailColor, Model.RailColors, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FabricAndLamelColor, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.FabricAndLamelColor, Model.FabricAndLamelColors, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FabricAndLamelMaterial, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.FabricAndLamelMaterial, Model.FabricAndLamelMaterials, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.InstalationType, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.InstalationType, Model.InstalationTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="sizesContainer">
            @Html.Partial("_BlindRowsPartial")
        </div>

        <button id="addBlindRow" type="button" class="btn btn-primary">Добави ред</button>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Запиши поръчката" id="saveBtn" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
</form>