@model ICollection<Blinds.Web.Areas.Public.Models.OrdersModel>


<div class="well">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col--lg-3">@item.Number</div>
            <div class="col--lg-3">@item.ColorName</div>
            <div class="col--lg-3">@item.ExpeditionDate</div>
            <div class="col--lg-3">@item</div>
            <div class="col--lg-3">@item.ColorName</div>
        </div>
    }

</div>