@using Blinds.Web.Areas.Public.Models;
@using Blinds.Common
@using Kendo.Mvc.UI

@model UserOrdersModel

@{
    const string Controller = "Orders";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Public/Scripts/Orders/OrdersViewModel.js")"></script>
}

@Html.Hidden("detailsUrl", @Url.Action("Index", "Details"))

<h2>@GlobalConstants.MyOrdersTitleText</h2>

@(Html.Kendo().Grid<UserOrdersModel>()
    .Name("grid-my-orders")
    .Columns(columns =>
    {
        columns.Bound(model => model.OrderNumber);
        columns.Bound(model => model.BlindTypeName);
        columns.Bound(model => model.ColorName);
        columns.Bound(model => model.BlindCount);
        columns.Command(command => 
        command.Custom(GlobalConstants.ShowDetails)
        .Click("showDetails"))
        .Width(140);
    })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(h => h.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Read(r => r.Action("Read", Controller));
    }
    )
    .Sortable()
    .Pageable(page => page.Refresh(true))
    .Filterable(f => f.Messages(x => x.And("И")))
    .Filterable(f => f.Messages(x => x.Or("Или")))
    .Filterable(f => f.Messages(x => x.Filter("Филтър")))
    .Filterable(f => f.Messages(x => x.Clear("Отказ")))
    .Groupable(g => g.Messages(x => x.Empty(GlobalConstants.GroupMessage)))
    .Resizable(resize => resize.Columns(true)) 
    .Selectable()
)